
@import "normalize.css";

html{
	box-sizing: border-box;
}

*,*:before,*:after{
	box-sizing: border-box;
}

body{
	font-family: "Segoe UI", Helvetica, arial, sans-serif;
}





/*
	*** page header started****
*/

.header{
	display: flex;
	flex-flow: column nowrap;
}


.logo{
	display: flex;
	flex-flow: row nowrap;
	flex: 1;
	padding:10px;
	background-color: black;
}

.logo h1{
	flex:1;
	margin:0;
	color: #FFF;
	padding-left: 40px;
	font-size: 25px;
	font-weight: 800;
	letter-spacing: -2px;
	font-family: 'Kaushan Script';
	animation:slideLogo 1s;
}

.logo h1 a{
	color:#FFF;
	text-decoration: none;
}

.logo h1 span{
	color:#F64C72;
}

.logo div{
	flex: 1;
	font-size: 25px;
	text-align: right;
}

.logo div i{
	color: #FFF;
	padding:8px 15px;
	border-radius: 5px;
	transition: all 0.2s;
	cursor: pointer;
}

.logo div i:hover{
	color: #F64C72;
	background-color: #FFF;
}

@keyframes slideLogo{
	0%{
		margin-left: -100px;
	}
	100%{
		margin-left: 0px;
	}

}

/* page header ended*/






/*
	*** page navigation started ***
*/

nav{
	display: none;
	flex-flow: column nowrap;
	flex: 1;
	user-select: none;
}

nav a{
	color:#FFF;
	padding: 8px;
	font-size: 20px;
	text-align: center;
	font-weight: 500;
	transition: all 0.2s;
	text-decoration: none;
	background-color: black;
}

.current-page{
	background-color: #F64C72;
}

nav a:hover{
	color: #FFF;
	background-color: #F64C72;
	box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.3);
}
/* page navigation ended */






/*
	banner started 
*/

.banner{
	position: relative;
	min-height:250px;
	overflow: hidden;
	background-image: url("img/1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.overlay{
	position: absolute;
	top: 0;
	left:0;
	right: 0;
	bottom: 0;
	background-color: rgba(149,7,64,0.7);
}

.banner-content{
	position: absolute;
	margin:60px 0 0 30px;
}
.banner-content p{
	color: #FFF;
	margin:0;
	font-size: 30px;
	padding: 0px 20px 0;
	font-weight: 800;
	font-family: 'Open Sans';
}

.banner-content p.banner-para{
	max-width: 700px;
	margin-top: 20px;
	font-size: 12px; 
	font-weight: 400;
	text-align: justify;
	letter-spacing: 4px;
	word-spacing: 15px;
	font-family: 'Open Sans';
}

/* banner ended*/






/*
	**** main content started
*/
main{
	width:100%;
	background-color: #1A1A1D;
}

main header{
}

main header h1{
	margin:0;
	color: #E3E2DF;
	font-size: 20px;
	font-weight: 900;
	padding: 40px 10px;
	text-align: center;
}






/*
	==== Home page weeks blocks stared ====
*/

.weeks-blocks{
	display: flex;
	text-align: center;
	flex-flow: column nowrap;
}

.weeks-blocks div{
	margin:20px;
	border-radius: 5px;
}

.weeks-blocks div a{
	width: 100%;
	height: 100%;
	color: white;
	font-size: 60px;
	border-radius: 5px;
	padding: 100px 10px;
	font-weight: lighter;
	display: inline-block;
	text-decoration: none;
	transition: transform 0.2s;
	background-color: #0677A1;
}

.weeks-blocks div a:hover{
	transform:scale(1.04,1.04);
	box-shadow: 1px 1px 3px 0px rgba(255,255,255,0.4),5px 5px 18px 0px rgba(255,255,255,0.4);
}
/* weeks blocks ended*/




/*
	Facebook page started
*/

.facebook-container{
	color: #3B5998;
	padding: 80px 10px 20px;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	background-color: #EDF5E1;
	font-family: 'Open Sans';
}

.facebook-container p{
	margin:0;
}

.facebook-container p a{
	color: #3B5998;
	font-size: 30px;
}

.facebook-desktop{
	display: none;
}

/* Facebook page ended*/





/*
	Share button started
*/

.share-container{
	color: #25D366;
	padding: 0px 20px 80px;
	text-align: center;
	font-size: 20px;
	font-weight: 800;
	background-color: #EDF5E1;
	font-family: 'Open Sans';
}

.share-container p{
	margin:0;
}

.share-container p a{
	color: #25D366;
	font-size: 30px;
}

/* Share button ended*/





/*Subscribe started*/

.subscribe-container{
	color:#FFF;
	padding: 100px 10px;
	background-color: #FF5500;
	text-align: center;
	font-weight: 800;
	font-family: 'Open Sans';
}

.subscribe-container div{
	font-size: 20px;
}

.subscribe-container div:nth-child(1){
	margin-bottom: 40px;
}

.subscribe-container div a{
	color: #FFF;
	padding: 10px 40px;
	text-decoration: none;
	border-radius: 40px;
	border:4px solid #FFF;
	transition: all 0.4s;
}

.subscribe-container div a:hover{
	color: #FF5500;
	background-color: #FFF;
}

/*Subscribe ended*/





/*
	***** about page *****
*/


.about{
	padding: 10px 30px;
}

.about p{
	color:#FFF;
	text-align: justify;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.8;
	letter-spacing: 2px;
	word-spacing: 10px;
	font-family: 'Open Sans', sans-serif;
}

.about p a{
	color: #FF8E07; 
	font-weight: 900;
}
/* about page ended*/







/*
	contact me started
*/
.contact-container{
	height: 100vh;
	display: flex;
	flex-flow: column nowrap; 
	justify-content: center;
	background-color: #FFF;
}

.contact-container div p{
	color: #FE7700;
	align-content: center;
	margin: 0;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
}

.contact-container div p:nth-child(1){

	font-size: 60px;
	font-weight: 800;
	font-family: 'Open Sans';
}

.contact-container div p:nth-child(2){
	user-select: all;
}

/* contact me ended
*/






/*
		Blog started
*/

.blog-container{
	height: 100vh;
	display: flex;
	flex-flow: column nowrap; 
	justify-content: center;
	background-color: #FFF;
}

.blog-container header h1{
	color: black;
}

.blog-container div p{
	color: #003EFE;
	align-content: center;
	margin: 0;
	font-size: 20px;
	font-weight: 800;
	text-align: center;
}

.blog-container div p:nth-child(1){

	font-size: 60px;
	font-weight: 800;
	font-family: 'Open Sans';
}

.blog-container div p:nth-child(2){
	user-select: all;
}


/* blog ended */






/*
		Privacy Policy started
*/
.ppolicy-container{
	background-color: #FFF;
	padding: 30px;
	text-align: center;
}

.ppolicy-container h1{
	color: #A500FE;
}

.ppolicy-container h2{
	color: #A500FE;
}

.ppolicy-container p a{
	color: #FE7700;
	text-decoration: none;
}

.ppolicy-container p a:hover{
	text-decoration: underline;
}

/*	Privacy Policy ended
*/







/*
	****** week -1 page started ******
*/

.week-container{
	background-color: #EDF5E1;
}

.week-container header h1{
	font-size: 30px;
	color:#D79922;
}


.week{
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 20px;
}

.question-container{
	padding: 20px;
	background-color: #FFF;
	border-radius: 5px;
	margin-bottom: 40px;
	box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.3);
}

.question{
	display: flex;
	flex-flow: row nowrap;
}

.question-no{
	font-weight: 900;
	padding-right: 20px;
	text-decoration: underline;
}

.question-img{
	border-radius: 5px;
	box-shadow: 3px 3px 25px 0 rgba(0, 0, 0, 0.3);
}

.question-img img{
	width:100%;
}


.question-options{
	padding:20px 0; 
}

.question-options div{
	padding:10px 0;
}

.question-options-labels{
	padding: 0 10px;
	font-weight: 900;
}

.tick{
	padding-left: 10px;
	color:green;
	background-color: white;
}

summary{
	color:white;
	font-weight: 900;
	text-align: center;
	padding: 8px;
	outline: 0;
	cursor:pointer;
	background-color: #D79922;
	user-select: none;
	transition: all 0.5s;
}

summary:hover{
	color: #D79922;
	background-color: white;
	box-shadow: 2px 2px 15px 0 rgba(0,0,0,0.3);
}

details summary::-webkit-details-marker{
	display: none;
}

details[open]{
	outline: 1px solid #D79922;
}

details p{
	padding: 10px 20px 20px 20px;
}
/*week -1 page ended*/


/*
	======== coming soon ============
*/
.coming-soon{
	text-align: center;
	color:#D79922;
	font-size: 50px;
	font-weight: 900;
	padding: 50px;
}


/* coming sonn ended*/


/*
	===== page footer started =====
*/
footer{
	background-color: black;
	padding: 30px 20px;
}

.footer {
	display: flex;
	flex-flow: column nowrap;
}

.footer a{
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 13px;
	font-weight: 300;
	text-decoration: none;
}

.footer a:hover{
	color: #950740;
}

.footer + div{
	color:white;
	font-size: 13px;
	text-align: center;
}

/* page footer ended*/











/*
	***** media query for responsive webdesign *****
*/
@media screen and (min-width:768px){

	.header{
	flex-flow: row nowrap;
	}

	.logo div{
		display: none;
	}

	nav{
		display: flex;
		flex-flow: row nowrap;
	}

	nav a{
		flex: 1;
		/*border-bottom: none;*/
	}

	.banner{
		min-height: 450px;
		background-image: url("img/2.jpg");
	}

	.banner-content p{
		font-size: 90px;
	}

	.banner-content p.banner-para{
		font-size: 20px;
	}

	main{
		padding: 0px 0 60px;
	}

	main header h1{
		font-size: 30px;
	}
	
	.weeks-blocks{
		flex-flow: row wrap;
		padding: 0 10px;
	}

	.weeks-blocks div {
		flex:1 1 40%;
		margin:10px;
	}

	.facebook-container{
		font-size: 30px;
		padding: 150px 10px;
	}

	.facebook-container p a{
		font-size: 50px;
	}

	.facebook-desktop{
		display: block;
	}
	.facebook-mobile{
		display: none;
	}

	.share-container{
		display: none;
	}

	.subscribe-container div{
		font-size: 30px;
	}

	.week-container header h1{
		font-size: 80px;
	}

	.question-container{
		display: flex;
		flex-flow: row wrap;
	}

	.question{
		flex: 1 1 100%;
	}

	.question-no{
		font-size: 25px;
	}

	.question-options{
		flex: 1 1 100%;
		font-size: 25px;
	}

	.question-explain{
		flex: 1 1 100%;
		margin-top: 20px;
	}

	summary{
		font-size: 25px;
	}

	.contact-container div p:nth-child(1){
	font-size: 100px;
	}

	.contact-container div p:nth-child(2){
		font-siz2e: 30px;
	}


	.blog-container div p:nth-child(1){
	font-size: 100px;
	}

	.blog-container div p:nth-child(2){
		font-size: 30px;
	}


	footer{
		padding: 40px 0;
	}

	.footer {
		flex-flow: row nowrap;
		justify-content: center;
	}

}



@media screen and (min-width:992px){
	.question-container{
		display: flex;
		flex-flow: row wrap;
	}

	.question{
		flex: 1 1 40%;
	}

	.question-no{
		font-size: 25px;
	}

	.question-options{
		flex: 1 1 60%;
		font-size: 20px;
		padding-left: 20px;
	}

	.question-explain{
		flex: 1 1 100%;
		margin-top: 20px;
	}
}